<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <servlet>
    <servlet-name>surveyServlet</servlet-name>
    <servlet-class>fr.inria.sacha.quizGumTree.server.QuizServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>surveyServlet</servlet-name>
    <url-pattern>/fr.inria.sacha.quizGumTree/survey</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>QuizSurvey.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ResultService</servlet-name>
  	<servlet-class>fr.inria.sacha.result.server.ResultServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ResultService</servlet-name>
  	<url-pattern>/fr.inria.sacha.result.Result/ResultService</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>SurveyBFPService</servlet-name>
  	<servlet-class>fr.inria.sacha.quizBFP.server.SurveyBFPServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SurveyBFPService</servlet-name>
  	<url-pattern>/fr.inria.sacha.quizBFP.SurveyBFP/SurveyBFPService</url-pattern>
  </servlet-mapping>

 

</web-app>